body{
   background:linear-gradient(to right, #df71f5,#833bd4);
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 100vh;;
  background-repeat: no-repeat;
  margin: 0;
   
}

.Frame{
    width:500px;
    height:700px;
    background: rgba(249, 253, 255, 0.815);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}

.QR
{
   width: 95.5%;
   height: 92%;
   border:5px solid #00000077;
    border-radius: 5px;
}

.button{
   background: black;
   color: white;
   padding:0.8rem;
   border-radius:10px;
   text-transform: uppercase;
   letter-spacing: 2px;
   transition: background 1.5s;
   width: 100px;
   height: 38px;
   font-size:20px;
   

}